{{#if this.isHomepage}}
  <section class="resources snipcss-aQjeH">
    <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workplace Issues Tiles</title>
  <style>
  </style>
</head>
<body>
  <div class="tile peer"></div>
  <div class="tile supervisor"></div>
  <div class="tile employee"></div>
  <div class="tile team"></div>
  <div class="tile other"></div>
</body>
</html>

  </section>
{{/if}}